/* If using Google web fonts, import them here, before anything else */

html {
	/* These six basic colors are used for most of the interface */
	/* See below for how they're applied */
	--black: #000000;
	--white: #eeeeee;
	--darkgray: #222222;
	--medgray: #888888;
	--lightgray: #cccccc;
	--offwhite: #dddddd;
	
	--dark-bg: var(--black); /* Night mode background */
	--dark-fg: var(--lightgray); /* Night mode text */
	--light-bg: var(--white); /* Day mode background */
	--light-fg: var(--black); /* Day mode text */
	--ui: var(--medgray); /* UI elements like menu lines and buttons */
	--ui-hover: var(--offwhite); /* UI elements when hovered */
	--menu-bg: var(--lightgray); /* Menu backgrounds */
	--menu-fg: var(--black); /* Menu text */
	--menu-hover: var(--white); /* Menu text when hovered */
	--panel-dark: var(--darkgray); /* Transcript panel bg/fg depending on mode */
	--panel-light: var(--offwhite); /* Transcript panel fg/bg depending on mode */
	
	/* These ones have different (non-monochrome) colors coded in */
	--progress-bg: var(--lightgray); /* Background of progress bar */
	--progress-top: #d3d3d3; /* Top half of progress bar */
	--progress-bottom: #c4c4c4; /* Bottom half of progress bar */
	
	--dark-link: #875; /* Night mode link */
	--dark-link-hover: #aa8; /* Night mode link, hovered */
	--light-link: #875; /* Day mode link */
	--light-link-hover: #aa8; /* Day mode link, hovered */
	
	--font-status: Geneva, sans-serif; /* Status bar and menus */
	--font-body: Georgia, serif; /* Main body text */
}

body {
	--bg: var(--light-bg);
	--text: var(--light-fg);
	--link: var(--light-link);
	--link-hover: var(--light-link-hover);
	background-color: var(--bg);
	color: var(--text);
}

body.night {
	--bg: var(--dark-bg);
	--text: var(--dark-fg);
	--link: var(--dark-link);
	--link-hover: var(--dark-link-hover);
}

body.enlarge {
	font-size: 2em;
}

/* This undoes the normal h2 styling from https://searchfox.org/mozilla-central/source/layout/style/res/html.css */
/* We're using h2 elements for each past player input, so that screen readers can easily jump to them */
/* But that means we don't want them to be styled like h2s, we want them to be styled like normal text */
h2 {
	display: inline;
	font-size: 1em;
	font-weight: normal;
}

#aacontainer {
	max-width: 60ch;
	margin: auto;
	position: relative;
	line-height: 1.35em;
}

#aaouterstatus {
	padding-top: 20px;
	min-height: 1.2em;
	line-height: 1em;
}

#aastatusborder {
	height: .1em;
	background-color: var(--text);
	opacity: 0; /* Fades in over one second when a status bar is created */
	animation-fill-mode: both;
}

#aastatus {
	padding-left: .3em;
	padding-right: .3em;
	font-family: var(--font-status);
	min-height: 1.2em;
	overflow: hidden;
	display: none;
	animation-name: fadein;
	animation-duration: .9s;
	animation-delay: .1s;
	animation-fill-mode: both;
}

.aaprogress {
	background-color: var(--progress-bottom);
	height: .31em;
	border-top: .19em solid var(--progress-top);
}

.aaouterprogress {
	border-radius: .3em;
	border: .1em solid var(--progress-bg);
	margin-top: .2em;
	text-align: left;
	overflow: hidden;
}

#aamenubutton {
	height: 1.3em;
	width: 1.0em;
	float: right;
	margin-left: .3em;
	padding-right: .3em;
	position: relative;
}

#aamenulines {
	margin-top: .3em;
	width: 1.0em;
	height: .125em;
	border-top: .375em double var(--ui);
	border-bottom: .125em solid var(--ui);
	cursor: pointer;
	float: right;
}

#aamenulines:hover {
	border-color: var(--ui-hover);
}

.aacb {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

#aamenu {
	z-index: 1;
	display: none;
	position: relative;
	top: .5em;
	left: -18.6ch; /* I don't love these two being hardcoded */
	width: 19.7ch; /* Maybe there's a better way to compute them */
	overflow: hidden;
	font-size: .8em;
}

#aamenulist {
	background-color: var(--menu-bg);
	color: var(--menu-fg);
	border: 2px solid #eee;
	border-radius: .3em;
	padding: .2em;
	z-index: 1;
}

.aamenuoption {
	margin: 1px;
	overflow: hidden;
	cursor: pointer;
}

.aamenuoption:hover {
	color: var(--menu-hover);
}

#aabody { /* A wrapper with no existence of its own */
	margin: 0;
}

#aaform {
	margin: 0;
}

#aamain {
	overflow-y: auto;
	font-family: var(--font-body);
	height: 80%;
	margin: .3em;
	padding-right: 1.3em;
	clear: right;
}

#aascriptouter {
	height: 80%;
	margin: .3em;
	padding-right: 1.3em;
	clear: right;
	display: none;
}

#aascriptinner {
	width: 100%;
	border: 0px;
	padding: .2em;
	background-color: var(--panel-light);
	color: var(--panel-dark);
}

.night #aascriptinner {
	background-color: var(--panel-dark);
	color: var(--panel-light);
}

#aascriptclose {
	border: .1em solid black;
	border-radius: .3em;
	width: 20ch;
	text-align: center;
	margin: auto;
	padding: .1em;
	background-color: var(--ui);
	color: var(--menu-fg);
}

#aascriptclose:hover {
	background-color: var(--ui-hover);
}

#aainput {
	width: 100%;
	border: none;
	outline: none;
	font-family: var(--font-body);
	font-size: 1em;
	display: none;
	background-color: transparent;
	color: inherit; /* Necessary because some browsers have built-in CSS rules that apply to `form input` */
	padding: 0;
	height: 1.1em;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

p {
	margin: 0;
	animation-name: fadein;
	animation-duration: .9s;
	animation-delay: .1s;
	animation-fill-mode: both;
	width: 100%;
}

#aastatus p {
	animation-name: none;
	animation-duration: 0;
	animation-delay: 0;
}

a {
	text-decoration: inherit;
}

.aalink {
	color: var(--link);
	cursor: pointer;
}

.aalink:hover {
	color: var(--link-hover);
}

.aailink {
	color: var(--link);
}

.aailink:hover {
	color: var(--link-hover);
}

@keyframes fadelink {
	0% {
		color: var(--link);
	}
	to {
		color: inherit;
	}
}

.aadeadlink {
	animation-name: fadelink;
	animation-duration: .9s;
	animation-delay: .1s;
	animation-fill-mode: both;
	cursor: text;
}

.aahidelink {
	color: inherit;
	cursor: text; /* Since now they're <a>s, they default to a pointer */
}

.aareveal {
	margin-top: .8em;
	margin-bottom: .8em;
	color: var(--link);
	animation-name: fadein;
	animation-duration: .9s;
	animation-delay: .1s;
	animation-fill-mode: both;
	text-align: center;
	font-size: .8em;
}

.aareveal:hover {
	color: var(--link-hover);
}

#aaaboutouter {
	position: absolute;
	top: 20%;
	width: 100%;
	z-index: 2;
	display: none;
}

#aaerrorouter {
	position: absolute;
	top: 20%;
	width: 100%;
	z-index: 2;
	display: none;
}

#aaaboutinner, #aaerrorinner {
	background-color: var(--ui);
	border: .1em solid black;
	border-radius: .3em;
	width: 20em;
	margin: auto;
	padding: 1em;
}

.aaaboutline {
	text-align: center;
}

#aaaboutmeta {
	white-space: pre-line;
}

.aaerrorline {
	margin-top: 1em;
	margin-bottom: 1em;
}

img {
	max-width: 100%;
}

.aaspacen {
	display: inline-block;
}

.aaspanb {
	font-weight: bold;
}

.aaspani {
	font-style: italic;
}

.aaspanf {
	font-family: webkit-workaround, monospace;
	font-size: 1em;
}

.aaspanunb {
	font-weight: normal;
}

.aaspanuni {
	font-style: normal;
}

.aaspanunf {
	font-family: var(--font-body);
}
