name: Build

on:
  push:
    branches: ['main']
    tags: ['release-*-*']
  pull_request:
    branches: ['main']

jobs:

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v6
    - name: make test
      run: make test
