name: Build

on:
  push:
    branches: ['main']
    tags: ['release-*-*']
  pull_request:
    branches: ['main']

jobs:

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: install dependencies
      run: sudo apt install node
    - name: make test
      run: make test
